body {
    font-size: 11pt;
    background-image: url('csc300x-hw2/silverware.jpg');
    background-attachment: fixed;
    /* background-color: white; */
    background-size: 200px 200px;
    color: #404040;
    font-family: Georgia, Garamond, serif
}

h1, h2, h3 {
    font-size: 18pt;
    text-align: left;
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    display: inline;
}

a {
    color: #A4A400;
}

div p{
    background-color: #FFFFA8;
    margin-left: 40px;
    font-style: italic;
}

ul {
    list-style-image: url('csc300x-hw2/pie_icon.gif');
}

span {
    text-decoration: line-through;
}

#main-heading {
    font-size: 22pt;
    text-align: center;
    font-weight: bold;
}


