body {
    animation: rainbow 5s infinite;
    overflow-x: hidden;
}

strong {
    color: red;
    text-transform: uppercase;
}

a {
    display: block;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    animation: get-big 1s infinite;
    text-align: center;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
    color: purple;
    font-family: Trattatello, fantasy;
}

.floater {
    float: left;
    position: fixed;
    border: 1px solid black;
    animation: fly-across 5s infinite cubic-bezier(0.5, 0, 0.5, 1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.still {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.trolo {
    animation: epic-troll 5s infinite;
    animation-play-state: paused;
}

.trolo:hover {
    animation-play-state: running;
}

#flex-box {
    display: flex;
    justify-content: space-between;
}


@keyframes fly-across {
    0% { transform: translate(0, 0); }
    50% { transform: translate(500%, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes get-big {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rainbow {
    0% { background-color: rgb(204, 148, 148); }
    20% { background-color: rgb(200, 177, 135); }
    40% { background-color: rgb(232, 232, 156); }
    60% { background-color: rgb(151, 227, 151); }
    80% { background-color: rgb(165, 165, 238); }
    100% { background-color: rgb(238, 149, 238); }    
}

@keyframes epic-troll {
    0% { transform: translate(0, 0); }
    25% { transform: translate(100%, 0); }
    50% { transform: translate(100vh, -50vh); }
    100% { transform: translate(0, 0); }
}