body {
    overflow:visible;
    overflow-x: hidden;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: rgb(253, 226, 185);

}
main {
    /* the margin-top prevents the buttons from interfering
    with the restaurant content */
    margin-top: 100px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 232, 212);
}

p,h1,h3 {
    margin-left: 5px;
}


/* IMAGE ZOOM FEATURE ############################## */
.zoom {
    transition: transform 0.3s ease-in-out;
}
.zoomed {
    transform: scale(2);
}
.hidden {
    display: none;
}
/* END IMAGE ZOOM FEATURE ########################## */


/* RESTAURANT CONTENT ############################## */
/* Whether these are displayed will be controlled by the
   navigation buttons with Javascript magic */
#don {
    display: none;
}
#jimmy {
    display: none;
}
#yum {
    display: none;
}
#don, #jimmy, #yum{
    /* background-color: rgb(249, 232, 212); */
    margin: auto;
    width: 75%;
}
/* END RESTAURANT CONTENT ########################## */


/* ASIDE CONTENT ################################### */
/*
    Like the restaurant content, the aside content will
    be controlled using javascript magic.
*/
#don-perks {
    display:none;
}
#jimmy-perks {
    display: none;
}
#yum-perks {
    display: none;
}
#don-perks, #jimmy-perks, #yum-perks {
    background-color: rgb(30, 170, 105);
    flex: 1;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}
/* END ASIDE CONTENT ############################### */


/* NAVIGATION BUTTONS ############################## */
#left-arrow, #right-arrow {
    width: 60px;
    height: 60px;
    font-size: 30px;
}
#right-arrow {
    float: right;
    margin-right: 20%;
}
#left-arrow {
    float: left;
    margin-left: 20%;
}
/* END NAVIGATION BUTTONS ########################## */


/* GALLERY BAR ##################################### */
.gallery-bar {
    /* background-color: rgb(249, 232, 212); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery-bar img {
    width: 150px;
    height: 150px;
}
/* END GALLERY BAR ################################# */


/* ADVERTISEMENT BAR ############################### */
#advertisement {
    display: flex;
    justify-content: center; 
}
#advertisement img {
    /* width: 40%;
    height: 100px; */
    size: 50px;
    margin-top: 20px;
}
/* END ADVERTISEMENT BAR ########################### */