main {
    /* the margin-top prevents the buttons from interfering
    with the restaurant content */
    margin-top: 100px;
    background-color: red;
    width: 100vw;
}



/* RESTAURANT CONTENT ############################## */
/* Whether these are displayed will be controlled by the
   navigation buttons with Javascript magic */
#don {
    /* display: none; */
    display: block;
}
#jimmy {
    display: none;
}
#yum {
    display: none;
}
#don, #jimmy, #yum{
    background-color: bisque;
    margin: auto;
    width: 75%;
}
/* END RESTAURANT CONTENT ########################## */



/* NAVIGATION BUTTONS ############################## */
#left-arrow, #right-arrow {
    width: 60px;
    height: 60px;
    font-size: 30px;
}
#right-arrow {
    float: right;
    margin-right: 20%;
}
#left-arrow {
    float: left;
    margin-left: 20%;
}
/* END NAVIGATION BUTTONS ########################## */


/* GALLERY BAR ##################################### */
.gallery-bar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-bar img {
    width: 150px;
    height: 150px;
}
/* END GALLERY BAR ################################# */